:javascript
  $(document).ready(function() {
    t_token = $('#token').val();
    login_interface.info(t_token);
  });

%h5
  %label loading...
  %input#token{type: 'hidden', value: session[:access_token]}