%div{ data: { role: 'page' } }
  %div{ data: {role: 'header'} } 
    %h1 Home
  .ui-content{role: 'main'}
    %a{ href: "/api/v1/oauth/connect", rel: 'external', data: {role: 'button'} }
      Connect with Instagram
  %div{ data: { role: 'footer'}}


