:javascript
  $(document).ready(function() {
    login_interface.info(#{session[:access_token]});
  });
  
.jumbotron
  .container
    .starter-template
      %h1 Home
    .ui-content{role: 'main'}
      %a{ href: "/api/v1/oauth/connect", rel: 'external', data: {role: 'button'} }
        Connect with Instagram

