.fieldset
  = form_tag admin_featured_videos_path, method: 'get' do
    %p
      %span Recommend:
      %select{name: "orderNo", value: params[:orderNo]}= options_for_select([["", ""], ["Yes", "1"],["No", "0"]],params[:orderNo])
      /,{selected:params[:orderNo]=="0"}
      /,{selected: params[:orderNo]=="1"}
      %span Unpublish:
      %select{name: "unpublish", value: params[:unpublish]}= options_for_select([["", ""],["Yes", "true"], ["No", "false"]],params[:unpublish])
      %span User Name:
      %input{ type: 'text', name: 'userName', value: params[:userName]}

      
    %hr
    %p
      = submit_tag 'submit'



    



